[toolchain]
anchor_version = "0.32.1"

[features]
resolution = true
skip-lint = false

[programs.devnet]
candy_blitz = "CbYNU3N29sGLTDRexxzeu1NDzNg2DS3bUonxT7xH8MXH"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "echo 'No tests yet'"
